.card__button-container {
    display: flex;
    flex-direction: row;

    position: absolute;
    right: 24px;
    top: 24px;

    margin: 0;
    padding: 0;

    z-index: 1;
}

@media screen and (max-width: 768px) {
    .card__button-container {
        right: 8px;
        top: 8px;
    }
}

@media screen and (max-width: 320px) {
    .card__button-container {
        right: 16px;
        top: 16px;
    }
}