@import url(__container/search-results__container.css);
@import url(__title/search-results__title.css);
@import url(__cards-container/search-results__cards-container.css);
@import url(__more-button/search-results__more-button.css);

.search-results {
    display: block;

    max-width: 1440px;
    width: 100%;
    
    margin: 0 auto 0 auto;
    padding: 0;
    
    background-color: #F5F6F7;

    overflow: hidden;
}