.footer__nav-section {
    display: flex;
    flex-direction: row;
    
    margin: 0 0 0 auto;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .footer__nav-section  {
        margin: 0;
        width: 100%;
    }
}