.card__keyword {
    display: flex;
    
    margin: 0;
    padding: 0 22px 0 22px;

    align-items: center;
    justify-content: center;

    position: absolute;

    top: 24px;
    left: 24px;

    height: 40px;
    
    background-color: white;

    border-radius: 8px;

    font-family: 'Roboto', Verdana, sans-serif;    
    color: black;
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

@media screen and (max-width: 1024px) {
    .card__keyword {
        top: 8px;
        left: 8px;
    }
}

@media screen and (max-width: 500px) {
    .card__keyword {
        top: 16px;
        left: 16px;
    }
}