.card__keyword {
    display: flex;
    
    margin: 0;
    padding: 0;

    align-items: center;
    justify-content: center;

    position: absolute;

    top: 24px;
    left: 24px;

    height: 40px;
    max-width: 50%;
    
    background-color: white;

    border-radius: 8px;
}

@media screen and (max-width: 1024px) {
    .card__keyword {
        top: 8px;
        left: 8px;
    }
}

@media screen and (max-width: 500px) {
    .card__keyword {
        top: 16px;
        left: 16px;
    }
}