@import url(__container/popup__container.css);
@import url(__close-button/popup__close-button.css);
@import url(__title/popup__title.css);
@import url(__form/popup__form.css);
@import url(__submit-button/popup__submit-button.css);
@import url(__field/popup__field.css);
@import url(__input-label/popup__input-label.css);
@import url(__input/popup__input.css);
@import url(__input-error/popup__input-error.css);
@import url(__form-error/popup__form-error.css);
@import url(__subtext/popup__subtext.css);
@import url(__subtext-link/popup__subtext-link.css);

@import url(__container/_type/popup__container_type_info.css);
@import url(__title/_type/popup__title_type_info.css);
@import url(__subtext-link/_type/popup__subtext-link_type_info.css);

.popup {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    
    background-color: rgba(0, 0, 0, 0.5);

    opacity: 0;

    visibility: hidden;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;

    z-index: 10;
}

.popup_opened {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}