@import url(__container/saved-news-header__container.css);
@import url(__title/saved-news-header__title.css);
@import url(__total/saved-news-header__total.css);
@import url(__keywords/saved-news-header__keywords.css);
@import url(__keywords-span/saved-news-header__keywords-span.css);

.saved-news-header {
    display: flex;
    flex-direction: column;

    margin: 0 auto 0 auto;
    padding: 0;

    min-height: 214px;
    max-width: 1440px;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .saved-news-header {
        min-height: 204px;
    }
}

@media screen and (max-width: 767px) {
    .saved-news-header {
        min-height: 246px;
    }
}