.popup__container_type_info {
    padding: 43px 36px 51px 36px;
}

.popup__title_type_info {
    margin: 0 0 14px 0;
}

.popup__subtext-link_type_info {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
}