.footer__links {
    display: flex;
    flex-direction: row;

    margin: 0 40px 0 0;
    padding: 0;

    color: #1A1B22;
}

@media screen and (max-width: 1024px) {
    .footer__links {
        margin-right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer__links {
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
}