.navbar__user-state-button {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 12px auto 12px auto;
    
    min-height: 48px;
    min-width: 176px;

    background-color: transparent;
    text-decoration: none;
    font-family: 'Roboto', Verdana, sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    white-space: nowrap;

    color: white;

    cursor: pointer;

    border-radius: 100px;
    box-sizing: border-box;
    border: 1px solid white;
    transition: opacity .15s ease-in-out;
}

.navbar__user-state-button:hover {
    opacity: .8;
}

.navbar_theme_light .navbar__user-state-button {
    color: #1A1B22;
    border-color: #D1D2D6;
    transition: border-color .15s ease-in-out;
}

.navbar_theme_light .navbar__user-state-button:hover {
    border-color: #1A1B22;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .navbar__user-state-button {
        min-height: 40px;
        min-width: 152px;
        
        padding: 8px auto 8px auto;

        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .navbar__user-state-button {
        min-height: 56px;
        width: 100%;

        padding: 0;

        margin-top: auto;
        font-size: 18px;
    }
}