.footer__icon-links {
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .footer__icon-links {
        margin-left: 16px;
    }
}