@import url(__graphic/preloader__graphic.css);
@import url(__text/preloader__text.css);

.preloader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 282px;
    max-width: 1440px;
    width: 100%;
    
    margin: 0 auto 0 auto;
    
    background-color: #F5F6F7;
}