@import url(__form/search-bar__form.css);
@import url(__text/search-bar__text.css);
@import url(__button/search-bar__button.css);

.search-bar {
    display: flex;
    flex-direction: column;
    position: relative;

    margin: 0;
    padding: 0;
}