.search-bar {
    display: flex;
    flex-direction: column;
    position: relative;

    margin: 0;
    padding: 0;
}

.search-bar__form {
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;

    min-height: 64px;
    
    border-radius: 100px;
    
    background-color: white;
}

.search-bar__search-text {
    margin: auto 40px auto 24px;
    padding: 0;
    width: 100%;

    border: none;
    outline: none;
    background-color: transparent;
    
    font-family: 'Roboto', Verdana, sans-serif;    
    font-weight: 400;
    font-style:  normal;
    font-size: 16px;
    color: #1A1B22;

    caret-color: #2F71E5;

    line-height: 22px;

}

.search-bar__search-text::placeholder {
    color: #B6BCBF;
}


.search-bar__button {
    margin: 0;
    padding: 0;
    max-width: 168px;
    min-height: 64px;
    width: 100%;

    background-color: #2F71E5;
    
    color: white;

    font-family: 'Roboto', Verdana, sans-serif;    
    font-weight: 500;
    font-style:  normal;
    font-size: 18px;
    text-align: center;

    line-height: 24px;
    
    border: none;
    border-radius: 80px;
}

.search-bar__button:hover {
    background-color: #347EFF;
}

.search-bar__button:active {
    background-color: #2A65CC;
}

@media screen and (max-width: 425px) {

    .search-bar__button {
        position: absolute;
        top: 100%;
        margin-top: 16px;
        max-width: 100%;
    }
    
}
