.search-results__more-button {
    margin: 64px auto 0 auto;
    max-width: 288px;
    min-height: 64px;
    width: 100%;
    
    position: relative;

    z-index: 1;
    
    background-color: white;
    
    color: #1A1B22;

    font-family: 'Roboto', Verdana, sans-serif;    
    font-weight: 500;
    font-style:  normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    
    border: none;
    border-radius: 80px;
    transition: opacity .1s ease-in-out;

    cursor: pointer;
}

.search-results__more-button:hover {
    opacity: .9;
}

@media screen and (max-width: 1024px) {
    .search-results__more-button {
        margin-top: 32px;

        max-width: 240px;
        min-height: 56px;
    }
}

@media screen and (max-width: 500px) {
    .search-results__more-button {
        margin-top: 16px;
        max-width: 100%;
    }
}