@import url(__container/header__container.css);
@import url(__title/header__title.css);
@import url(__caption/header__caption.css);

.header {
    display: flex;
    flex-direction: column;

    min-height: 576px;
    max-width: 1440px;
    width: 100%;
    
    margin: 0 auto 0 auto;
    
    background-image: url(../../images/header-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .header {
        min-height: 400px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        min-height: 536px;
    }
}