.header {
    display: flex;
    flex-direction: column;

    min-height: 576px;
    max-width: 1440px;
    width: 100%;
    
    margin: 0 auto 0 auto;
    
    background-image: url(../../images/header_background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__container {
    max-width: 608px;
    margin: 0 auto 0 auto;
    
    display: flex;
    flex-direction: column;
}

.header__title {
    margin: 80px 0 32px 0;

    font-family: 'Roboto Slab', Verdana, sans-serif;    
    color: white;
    
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    
    line-height: 64px;
}

.header__caption {
    margin: 0 0 64px 0;
    max-width: 545px;

    font-family: 'Roboto', Verdana, sans-serif;    
    color: white;

    font-weight: 400;
    font-style:  normal;
    font-size: 18px;

    line-height: 24px;
}

.search-placeholder {
    margin: 0;
    min-height: 64px;
    border: dashed 4px #347EFF;
    box-sizing: border-box;
    border-radius: 100px;

    font-family: 'Roboto', Verdana, sans-serif;    
    color: #1A1B22;

    background-color: white;

    font-weight: 400;
    font-style:  normal;
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    line-height: 22px;
}