@import url(__graphic/no-results__graphic.css);
@import url(__main-text/no-results__main-text.css);
@import url(__sub-text/no-results__sub-text.css);

.no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 374px;
    max-width: 1440px;
    width: 100%;
    
    margin: 0 auto 0 auto;
    padding: 0;
    
    background-color: #F5F6F7;
}