.navbar__menu-button {
    display: none;
    margin: 0 0 0 auto;
    padding: 0;

    width: 24px;
    height: 24px;
    
    border: none;
    
    background-image: url(../../../images/menu-button.svg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;

    transition: opacity .1s ease-in-out;

    cursor: pointer;
}

.navbar__menu-button:hover {
    opacity: .5;
}

.navbar_theme_light .navbar__menu-button {
    background-image: url(../../../images/menu-button_dark.svg);
}

@media screen and (max-width: 700px) {
    .navbar__menu-button {
        display: flex;
    }
}