.navbar__title {
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto Slab', Verdana, sans-serif;  
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white;
}

.navbar_theme_light .navbar__title {
    color: #1A1B22;
}