.popup__close-button {
    position: absolute;
    margin: 0;
    padding: 0;

    width: 40px;
    height: 40px;

    top: -46px;
    right: -46px;

    background-image: url(../../../images/cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;

    border: none;

    cursor: pointer;

    transition: opacity .15s ease-in-out;
}

@media screen and (max-width: 320px) {
    .popup__close-button {
        background-size: 24px;
        width: 24px;
        height: 24px;
        top: calc(-24px - 16px);
        right: 16px
    }
}

.popup__close-button:hover {
    opacity: .9;
}