@import url(__container/footer__container.css);
@import url(__copyright/footer__copyright.css);
@import url(__nav-section/footer__nav-section.css);
@import url(__links/footer__links.css);
@import url(__link-item/footer__link-item.css);
@import url(__link/footer__link.css);
@import url(__link/_type/footer__link_type_home.css);
@import url(__link/_type/footer__link_type_practicum.css);
@import url(__icon-links/footer__icon-links.css);
@import url(__icon/footer__icon.css);
@import url(__icon-item/footer__icon-item.css);

.footer {
    display: flex;

    background-color: white;

    min-height: 80px;
    max-width: 1440px;
    width: 100%;

    margin: auto auto 0 auto;
}