.navbar__user-state-button_type_name {
    min-width: 0;
    padding: 12px 15px 12px 19px;
}


@media screen and (max-width: 768px) {
    .navbar__user-state-button_type_name {
        padding: 8px 13px 8px 15px;
    }
}

@media screen and (max-width: 320px) {
    .navbar__user-state-button_type_name {
       padding: 16px auto 16px auto;
    }
}