.navbar__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    
    min-height: 48px;
    min-width: 176px;

    background-color: transparent;
    text-decoration: none;
    font-family: 'Roboto', Verdana, sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: white;

    cursor: pointer;

    border-radius: 100px;
    box-sizing: border-box;
    border: 1px solid white;
    transition: opacity .15s ease-in-out;
}

.navbar__button:hover {
    opacity: .8;
}

.navbar_theme_light .navbar__button {
    color: #1A1B22;
    border-color: #D1D2D6;
    transition: border-color .15s ease-in-out;
}

.navbar_theme_light .navbar__button:hover {
    border-color: #1A1B22;
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    .navbar__button {
        min-height: 40px;
        min-width: 152px;

        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    .navbar__button {
        min-height: 56px;
        width: 100%;

        margin-top: auto;
        font-size: 18px;
    }
}